* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(231, 82, 62) 0%,
    rgb(233, 139, 33) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 2px solid #fff;
  padding: 30px 40px;
  width: 60%;
  min-width: 500px;
}

.new-task-container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
}

.new-task-container input {
  flex: 3;
  font-size: 1rem;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  padding: 12px;
  font-weight: 500;
}
.new-task-container input:focus {
  outline: none;
  border-color: rgb(255, 115, 0);
}
.new-task-input {
  width: 75%;
}

.btn-new-task {
  flex: 1;
  border-radius: 5px;
  font-weight: 500;
  height: 100%;
  font-size: 1rem;
  border: none;
  color: #fff;
  padding: 12px;
  margin-left: 12px;
  background-color: rgb(255, 115, 0);
  cursor: pointer;
}

.tasks-container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  margin-top: 60px;
  width: 100%;
}

/* Utilities */
.error {
  border: 2px solid yellow !important;
}

.error::placeholder {
  color: yellow;
}
